html {
    color: #a4a8bb;
    background: radial-gradient(circle,rgba(16, 18, 29, 50) 25%, rgba(0, 0, 0, 50) 100%); 
    
    font-family: "DM Sans", sans-serif !important; 
    font-size: medium;

}

            /* ########## ******* *** LOGIN PAGE *** ******* ##########  */


.sign-in-body {
    height: 43.75rem !important;
    width: 21.875rem !important;
    margin: 5rem auto;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
    border-radius: 0.938rem;
    background-color: rgba(0, 0, 0, 20);
    box-shadow: 0.125rem 0.125rem 0.625rem #10141ab2;
}


.h1-data-loader {
    margin: 1.25rem 0.625rem !important;
    color: #a1a8b4;
    text-align: center;
    font-family: "DM Sans", "Noto Sans", sans-serif !important;
    font-size: 45px !important;  
}

.h2-sign-in {
    margin: 0px 1.875rem 1.875rem 1.875rem;
    color: #1b5f8d;
    text-align: center;
    font-family: "DM Sans", "Noto Sans", sans-serif;
    font-size: 0.938rem; 
}

.h3-login-credentials {
    margin: 0.938rem 3.125rem ;
    color: #a1a8b4;
    text-indent: 0.625rem;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-size: 0.938rem;
}

.input-login {
    display: block;
    height: 2.5rem;
    width: 15.313rem;
    margin: 0.625rem auto;
    padding: auto;
    text-indent: 0.625rem;
    background-color: #1821327a;
    color: #a1a8b4;
    border: 0px solid transparent;
    border-radius: 0.625rem;
    font-family: "DM Sans", sans-serif;
    font-size: 0.938rem;
}

::placeholder {
    color: #a1a8b4;
    opacity: .35;
}

.input-login:focus { 
        outline: none !important;
        border: 0px solid #1b5f8d;
        box-shadow: 0 0 8px #237bb6;
    }

.login-button {
    height: 2.5rem;
    width: 8rem;
    margin: 3.125rem auto;
    border: 2px solid #237bb62a;
    border-radius: 0.75rem;
    background-color: rgba(27, 95, 141, 0.1);
    color: #a4a8bb;
    font-family: "DM Sans", sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    display: block;
    scale: 1.0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.login-button:hover{
    color: #237bb6;
    background-color: rgba(27, 95, 141, 0.2);
    transition: 0.2s ease-in-out;
}

.login-button:active {
    transform: scale(0.98);
    transition: 0.2s ease-out
}

.logout-button {
    text-align: center;
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    height: 2.5rem;
    width: 8rem;
    border: 2px solid #237bb62a;
    border-radius: 0.75rem; 
    background-color: rgba(27, 95, 141, 0.1); 
    color: #a4a8bb;
    font-family: "DM Sans", sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    display: block;
    scale: 1.0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.logout-button:hover{
    color: #237bb6;
    background-color: rgba(27, 95, 141, 0.2);
    transition: 0.2s ease-in-out;
}

.logout-button:active {
    transform: scale(0.98);
    transition: 0.2s ease-out
}


            /* ########## ******* *** SELECT ATHLETE PAGE *** ******* ##########  */


.athlete-body {
    height: 43.75rem !important;
    width: 21.875rem !important;
    margin: 5rem auto;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
    border-radius: 0.938rem;
    background-color: rgba(0, 0, 0, 20);
    box-shadow: 0.125rem 0.125rem 0.625rem #10141ab2;
}

.h1-select-athlete {
    margin: 1.25rem 0.625rem !important;
    color: #a1a8b4;
    text-align: center;
    font-family: "DM Sans", "Noto Sans", sans-serif !important;
    font-size: 45px !important;  
}

.h2-select-athlete {
    margin: 0px 1.875rem 1.875rem 1.875rem;
    color: #1b5f8d;
    text-align: center;
    font-family: "DM Sans", "Noto Sans", sans-serif;
    font-size: 0.938rem; 
}

/* ##### ** *** DROP DOWN LIST *** ** #####  */

/* *** MAIN CONTAINER *** */

.custom-select {
    width: 15.313rem;
    position: block;
    background-color: transparent;
    border-radius: 10px;
    margin: 0 auto;
    transition: 0.2s ease-in;
}

/* *** DROPDOWN HEADER *** */
    
.select-header {

    padding: 10px 10px 10px 10px;
    cursor: pointer;
    background-color: #1821327a;
    border: 0px solid transparent;
    border-radius: 8px;
    user-select: none; 
    font-family: "DM Sans", sans-serif;
    text-align: left;
    font-size: 15px;
    color: #a1a8b4;
    border: 0px solid transparent;
    transition: 0.2s ease-in;
    
}


.select-header.open {
    color: #1821327a;
    border-radius:  8px 8px 0 0;
    border: 0px solid transparent;
    transition: 0.2s ease-out;

}

.select-header.closed-selected {
    color: #a1a8b4;

    
    text-align: left;
    border-radius: 8px;
    transition: 0.2s ease-in;
    
}

/* *** OPTIONS CONTAINER *** */

.select-options {
    
    max-height: 10.938rem;
    
    width: 15.313rem;
    overflow-y: scroll;
    overflow-x: hidden;

    margin-right: -6px;
    margin-top: 5px;
    display: block;
    position: block;
    padding: 0px, 10px;

    text-indent: 10px;
    
    background-color: #1821327a;
    color: #a1a8b4;
    
    font-family: "DM Sans", sans-serif;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.2s ease-in;

}




/* *** SCROLL BAR *** */

.custom-select.open .select-options {
    transform: scaleY(1);
    transition: 0.2s ease-out;

}

.select-options::-webkit-scrollbar {
    width: 3px;
}

.select-options::-webkit-scrollbar-track {
    background: transparent;
}

.select-options::-webkit-scrollbar-thumb {
    background-color: #113c58;
    border-radius: 4px;
}

/* *** INDIVIDUAL OPTIONS *** */

.option {
    max-height: 3.125rem;
    max-width: 15.313rem;
    
    padding: 8px 10px 8px 10px;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    
    border-bottom: 1px solid transparent;
    text-align: left;
    border-radius: 0 0 0px 0px;
    scale: 1.0;
    transition: 0.2s ease-out;

}

.option:hover {
    color: #237bb6;
    background-color: rgba(27, 95, 141, 0.2);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

/* *** SELECT FILES BUTTON *** */

.select-files-button {
    height: 2.5rem;
    width: 8rem;
    margin: 2rem auto;
    border: 2px solid #237bb62a;
    border-radius: 0.75rem;
    background-color: rgba(27, 95, 141, 0.1);
    color: #a4a8bb;
    font-family: "DM Sans", sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    display: block;
    scale: 1.0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.select-files-button:hover{
    color: #237bb6;
    background-color: rgba(27, 95, 141, 0.2);
    transition: 0.2s ease-in-out;
}

.file-upload-input:valid + .select-files-button {
    background-color: rgba(27, 141, 42, 0.5);
    border-color: rgba(27, 141, 42, 0.5);
    color: #a4a8bb;
}

.file-upload-input:valid + .select-files-button::after {
    content: " ✓";
}


/* *** LOAD DATA BUTTON *** */

.load_data-button {
    height: 2.5rem;
    width: 8rem;
    margin: 2rem auto;
    border: 2px solid #237bb62a;
    border-radius: 0.75rem;
    background-color: rgba(27, 95, 141, 0.1);
    color: #a4a8bb;
    font-family: "DM Sans", sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    display: block;
    scale: 1.0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.load_data-button:hover{
    color: #237bb6;
    background-color: rgba(27, 95, 141, 0.2);
    transition: 0.2s ease-in-out;
}

.load_data-button:active {
transform: scale(0.98);
transition: 0.2s ease-out

}

/* *** LINK REGISTER ATHLETE *** */

.p-not-listed-athlete {
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    
    font-size: 14px;
}

.link-register-athlete {
    display: block;
    color: #1e959b;
    margin-top: 2px;
    text-align: center;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    scale: 1.0;
    transition: 0.2s ease-out;

}


.link-register-athlete:hover {
    display: block;
    color: #237bb6;
    margin-top: 5px;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    transition: 0.2s ease-in;
    ;

}

.link-register-athlete:visited {

    color: #1b5f8d
}
.link-register-athlete:visited:hover {

    color: #237bb6
}

            /* ########## ******* *** REGISTER ATHLETE PAGE *** ******* ##########  */

.register-athlete-body {
    height: 43.75rem !important;
    width: 21.875rem !important;
    margin: 5rem auto;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
    border-radius: 0.938rem;
    background-color: rgba(0, 0, 0, 20);
    box-shadow: 0.125rem 0.125rem 0.625rem #10141ab2;
}

.h1-register-athlete {
    margin: 1.25rem 0.625rem !important;
    color: #a1a8b4;
    text-align: center;
    font-family: "DM Sans", "Noto Sans", sans-serif !important;
    font-size: 45px !important;  
}

.h2-register-athlete {
    margin: 0px 1.875rem 1.875rem 1.875rem;
    color: #1b5f8d;
    text-align: center;
    font-family: "DM Sans", "Noto Sans", sans-serif;
    font-size: 0.938rem; 
}

.h3-register-credentials {
    margin: 10px 50px ;
    color: #a1a8b4;
    text-indent: 10px;

    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-size: 15px;
}

/* *** INPUT REGISTER ATHLETE */

.input-register-athlete {
    display: block;
    height: 2.5rem;
    width: 15.313rem;
    margin: 0.625rem auto;
    padding: auto;
    text-indent: 0.625rem;
    background-color: #1821327a;
    color: #a1a8b4;
    border: 0px solid transparent;
    border-radius: 0.625rem;
    font-family: "DM Sans", sans-serif;
    font-size: 0.938rem;
}

::placeholder {
    color: #a1a8b4;
    opacity: .35;
}

.input-register-athlete:focus { 
        outline: none !important;
        border: 0px solid #1b5f8d;
        box-shadow: 0 0 8px #237bb6;
    }


    
    /* *** CALENDAR FIELD *** */
    
    
    .dob-calendar::-webkit-calendar-picker-indicator {
       display: none !important;
}



.dob-calendar {
    display: block;
    margin: 15px auto;
    /* margin-bottom: 20px; */
    color:#a1a8b4;
    height: 40px;
    width: 250px;
    font-family: "DM Sans";
    font-size: 15px;
    background-color: #1821327a;
    outline: none !important;
    border: 0px solid transparent;
    border-radius: 10px;
    cursor: text;
}

/* *** GENDER CONTAINER *** */

.custom-gender-select {
    width: 250px;
    position: block;
    background-color: transparent;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 15px;
    transition: 0.2s ease-in;
}

/* *** DROPDOWN HEADER *** */
    
.select-gender-header {

    padding: 10px 10px 10px 10px;
    cursor: pointer;
    background-color: #1821327a;
    border: 0px solid transparent;
    border-radius: 8px;
    user-select: none; 
    font-family: "DM Sans", sans-serif;
    text-align: left;
    font-size: 15px;
    color: #a1a8b4;
    border: 0px solid transparent;
    transition: 0.2s ease-in;
    
}


.select-gender-header.open {
    color: #a1a8b459;
    border-radius:  8px 8px 0 0;
    border: 0px solid transparent;
    transition: 0.2s ease-out;

}

.select-gender-header.closed-selected {
    color: #a1a8b4;

    
    text-align: left;
    border-radius: 8px;
    transition: 0.2s ease-in;
    
}

/* *** OPTIONS CONTAINER *** */

.select-gender-options {
    
    max-height: 175px;
    
    max-width: 250px;
    overflow-y: scroll;
    overflow-x: hidden;

    margin-right: -6px;
    margin-top: 5px;
    display: block;
    position: block;
    padding: 0px, 10px;

    text-indent: 10px;
    
    background-color: #1821327a;
    color: #a1a8b4;
    
    font-family: "DM Sans", sans-serif;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.2s ease-in;

}

/* *** SCROLL BAR *** */

.custom-gender-select.open .select-gender-options {
    transform: scaleY(1);
    transition: 0.2s ease-out;

}

.select-gender-options::-webkit-scrollbar {
    width: 3px;
}

.select-gender-options::-webkit-scrollbar-track {
    background: transparent;
}

.select-gender-options::-webkit-scrollbar-thumb {
    background-color: #113c58;
    border-radius: 4px;
}

/* *** INDIVIDUAL OPTIONS *** */

.gender-option {
    max-height: 50px;
    max-width: 250px;
    /* margin-bottom: 10px; */
    padding: 8px 10px 8px 10px;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    
    border-bottom: 1px solid transparent;
    text-align: left;
    border-radius: 0 0 0px 0px;
    scale: 1.0;
    transition: 0.2s ease-out;

}

.gender-option:hover {
    color: #237bb6;
    background-color: rgba(27, 95, 141, 0.2);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}


/* *** REGISTER BUTTON *** */

.register-athlete-button {
    height: 2.5rem;
    width: 8rem;
    margin: 1.25rem auto;
    margin-top: 3.25rem auto;
    border: 2px solid #237bb62a;
    border-radius: 0.75rem;
    
    background-color: rgba(27, 95, 141, 0.1); 
    color: #a4a8bb;

    font-family: "DM Sans", "Noto Sans" sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    display: block;
    scale: 1.0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.register-athlete-button:hover{
    color: #237bb6;
    background-color: rgba(27, 95, 141, 0.2);
    transition: 0.2s ease-in-out;
}

.register-athlete-button:active {
transform: scale(0.98);
transition: 0.2s ease-out

}

/* *** LINK REGISTERED ATHLETE *** */

.p-athlete-registered {
    margin-top: 30px;
    margin-bottom: 5px;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
}

.link-athlete-registered {
    display: block;
    color: #1e959b;
    margin-top: 2px;
    text-align: center;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-size: 14px;
    scale: 1.0;
    transition: 0.2s ease-out;

}

.link-athlete-registered:hover {
    display: block;
    color: #237bb6;
    margin-top: 5px;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    transition: 0.2s ease-in;
    ;

}

.link-athlete-registered:visited {

    color: #1b5f8d
}
.link-athlete-registered:visited:hover {

    color: #237bb6
}

            /* ########## ******* *** RESULTS PAGE *** ******* ##########  */

.results-body {
    height: 700px;
    width: 350px;
    margin: 80px auto;
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 20);
    box-shadow: 2px 2px 10px #10141ab2;
}

.h1-results {
    margin: 20px 10px;
    color: #a1a8b4;
    text-align: center;
    
    font-family: "DM Sans", "Noto Sans", sans-serif;
    font-size: 45px;
    
}

.h2-results {
    margin: 0px 30px 30px 30px;
    color: #1b5f8d;
    text-align: center;
    
    font-family: "DM Sans", "Noto Sans", sans-serif;
    font-size: 20px;
    
}

/* *** RETURN BUTTON *** */

a {
    text-decoration: none !important; 
    color: inherit; 
}


a:link, a:visited, a:hover, a:active {
    text-decoration: none !important;
    color: inherit;
}

.return-button {
    height: 2.5rem;
    width: 8rem;
    margin: 1.25rem auto;
    margin-top: 3.25rem auto;
    border: 2px solid #237bb62a;
    border-radius: 0.75rem;
    
    background-color: rgba(27, 95, 141, 0.1); 
    color: #a4a8bb;

    font-family: "DM Sans", "Noto Sans" sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    display: block;
    scale: 1.0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.return-button:hover{
    color: #237bb6;
    background-color: rgba(27, 95, 141, 0.2);
    transition: 0.2s ease-in-out;
}

.return-button:active {
transform: scale(0.98);
transition: 0.2s ease-out

}


/* ### FLASH MESSAGES GENERAL SETTINGS ### */

.flash-message {
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "Noto Sans", sans-serif;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}


/* ### SUCCESS FLASH MESSAGES ### */
                    
.flash-message.success {
    
color: #4caf50;
    
}

.flash-message.warning {
    
color: #FFAE33;
    
}

/* ### DANGER FLASH MESSAGES ### */

.flash-message.danger {
    
color: #E6474C;
    
}