<!doctype html>
<html lang="en">
  <head>
    <!--Links referencing Google Fonts -->

    <link rel="stylesheet" href="{{ url_for( 'static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Varela+Round&display=swap" rel="stylesheet">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <title>Register Athlete</title>
  </head>

  <script async src="{{ url_for( 'static', filename='src/register.js') }}"></script>
  
  
  <body class="register-athlete-body">
    <form action="{{ url_for('main.logout') }}" method="get">
        <button type="submit" class="logout-button">Log Out</button>
    </form>
      <!--Title Headers (up to H6) -->
    <h1 id="register-title" class="h1-register-athlete">Register Athlete</h1>
    <h2 class="h2-register-athlete">Enter athlete info</h2>

    <form action="{{url_for('main.new_athlete')}}" method="post">

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                    <p class="flash-message {{ category }}">{{ message }}</p>
            {% endfor %}
    
        {% endif %}
    
      {% endwith %}

      {{form.hidden_tag()}}

      {{ form.name.label(class="h3-register-credentials") }}
      {{ form.name(class="input-register-athlete", placeholder="Athlete name") }}

      {{ form.last_name.label(class="h3-register-credentials") }}
      {{ form.last_name(class="input-register-athlete", placeholder="Athlete last name") }}

      {{ form.date_of_birth.label(class="h3-register-credentials") }}
      {{ form.date_of_birth(class="dob-calendar") }}

      {{ form.gender.label(class="h3-register-credentials") }}
      <div class="custom-gender-select">
        <div class="select-gender-header">--Gender</div>
        <div class="select-gender-options">
          <div class="gender-option">Male</div>
          <div class="gender-option">Female</div>
        </div>
      </div>
      {{ form.gender }}

      
      <button type="submit" class="register-athlete-button">Register</button>
      
    <div class="athlete-from-list-container">
    <p class="p-athlete-registered">Athlete already registered?</p> 
    <a href="{{url_for('main.select_athlete')}}" class="link-athlete-registered">Select Athlete from list</a>
    </div>
    </form>
  </body>
</html>