<!DOCTYPE html>
<html lang="en">
  <head>
        <!--Links referencing Google Fonts -->
    
    <link rel="stylesheet" href="{{ url_for( 'static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Varela+Round&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <title>Select Athlete</title>

    <script async src="{{ url_for('static', filename='src/main.js') }}"></script>
  </head>

  
  
  <body class="athlete-body">
      <form action="{{ url_for('main.logout') }}" method="GET">
        <button type="submit" class="logout-button">Log Out</button>
      </form>
      <h1 id="h1-select-athlete" class="h1-select-athlete">Select Athlete</h1>
      <h2 id="h2-select-athlete" class="h2-select-athlete">Select athlete from list below</h2>



    <form action="{{ url_for('main.select_athlete') }}" method="POST"  enctype="multipart/form-data">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p class="flash-message {{ category }}">{{ message }}</p>
                {% endfor %}
    
            {% endif %}
    
        {% endwith %}
        
        <div class="custom-select">
            <div id="select-header" class="select-header">--Select Athlete</div>
            <div class="select-options">
              {% for label in visible_labels %}
                    <div class="option" data-index="{{ loop.index0 }}">{{ label }} </div>
                {% endfor %}
            </div>
            <input type="hidden" name="athlete_index" id="selected-athlete-input" value="">
        </div>
        
        
        <div class="file-upload-container">
            {{form.hidden_tag()}}

            {{ form.file_upload(class="file-upload-input", multiple=True, accept=".fit,.FIT",style="display: none;", id="file-input") }}

            <button type="button" class="select-files-button" onclick="document.getElementById('file-input').click()">Select Files</button>

            {{form.submit(class="load_data-button")}}
        </div>
        
        

        <p class="p-not-listed-athlete">Athlete not in list?</p> 
        <a href="{{ url_for('main.new_athlete') }}" class="link-register-athlete">Register Athlete</a>        

        
        

    </form>

</body>
</html>