<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Sign Up</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="flash-message {{ category }}">{{ message }}</p>
            {% endfor %}

        {% endif %}

    {% endwith %}

    <form method="POST" class="general-form">
        {{ signup_form.hidden_tag() }}

        <div>
            {{ signup_form.email.label }}
            {{ signup_form.email(class="input-signup") }}
        </div>

        <div>
            {{ signup_form.username.label }}
            {{ signup_form.username(class="input-signup") }}
        </div>
        
        <div>
            {{ signup_form.password.label }}
            {{ signup_form.password(class="input-signup") }}
            
        </div>
        
        <div>
            
            {% for error in signup_form.username.errors %}
            <span class="flash-message">{{ error }}</span>
            {% endfor %}
            
            {% for error in signup_form.password.errors %}
            <span class="flash-message">{{ error }}</span>
            {% endfor %}
            
            
        </div>

        {{signup_form.submit_signup(class="signup-button")}}

        <div class="sign-link">
            <p class="account-actions">Already have an account?</p> 
            <a href="{{ url_for('main.login') }}", class="sign-link">Sign In</a>        

        </div>

    </form>
    
</body>
</html>